$color-group-type:      green;
$color-meta-query:      red;
$color-user-query:      darkred;
$color-remote:          purple;
$color-path:            violet;
$color-params:          violet;
$color-response-map:    brown;