$color-group-type:      blue;
$color-meta-query:      green;
$color-user-query:      chartreuse;
$color-remote:          red;
// $color-path:            purple;
$color-query-params:          purple;
$color-query-response-map:    violet;
$color-group: darkblue;
$color-site-engine: skyblue;