.form-block {
    @include block();
}

fieldset {
    display: inline-block;
    display: contents;
    border: 0;
    padding: 0;
    margin: 0;
    min-width: 0;
}

.entity {

    input.entity-label {
        margin: 1rem;
        font-size: 2.5rem;
        border: none;
        border: 2px;
        border-style: solid;
        border-color: transparent;
        border-radius: 3px;
        box-shadow: none;

        &:hover,
        &:focus {
            border-color: lightgrey;
        }

        // This allows us to return to normal bgcolor on :focus.
        &:not(:focus) {
            background: none;
        }
    }
}

button.loading {
    background: lightgrey !important;
    cursor: wait;
}

.devalidated {
    border-color: red !important;
}