$key-val-input-width: 160px;

// Get rid of fieldset wierdness.
fieldset {
    display: inline-block;
    display: contents;
    border: 0;
    padding: 0;
    margin: 0;
    min-width: 0;
}

.form-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-content: stretch;
    align-items: center;
    margin: 1rem 0.5rem;

    label {
        font-size: 1.15rem;
        margin-right: 0.7rem;
        font-weight: bold;
    }

    input {
        flex: 1;
    }
}

.entity .entity-label {
    font-size: 2rem;
}

.entity .entity .entity-label {
    font-size: 1.5rem;
}

.entity .entity .entity .entity-label {
    font-size: 1rem;
}

.entity-type-label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 10px;
    letter-spacing: 3px;
    color: rgb(209, 209, 209);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
}

button.loading {
    background: lightgrey !important;
    cursor: wait;
}

.devalidated {
    @keyframes blink {
        to {
            border-color: red;
        }
    }

    transition: border-color .5s;
    animation: blink .25s linear 5 alternate;
    animation-fill-mode: forwards;
}

.key-val-block-wrapper {
    display: grid;
    grid-template-columns: 5% auto;
    grid-template-rows: 1fr;
}

.key-val-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    grid-column: 1 / -1;
    grid-row: 1 / span 1;

    .form-wrapper {
        margin: 0;

        input[type=text] {
            width: $key-val-input-width;
        }
    }
}

input.label-input {
    border: none;
    border-style: solid;
    border-color: transparent;
    border-radius: 3px;
    box-shadow: none;

    &:hover,
    &:focus {
        border-color: lightgrey;
    }

    // This allows us to return to normal bgcolor on :focus.
    &:not(:focus) {
        background: none;
    }
}

.trash {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}