@mixin block() {
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem;
  margin: 0.5rem;
  background: rgba(255, 255, 255, 0.856);
}

.wpsp-page {

  &.page-entities {

    .existing-entities > .entity,
    .new-entity > .entity {
      width: 60%;
    }

  }

  @import 'form-elements';
  @import 'entity';
}
